# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Minimal mistakes options described here:
# https://mmistakes.github.io/minimal-mistakes/docs/configuration/
title: Cloud Alchemist
email: bulavintsev.sergey@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Personal blog with emphasis on cloud-native technologies, by a Senior DevOps Engineer
  experienced in AWS, Kubernetes, Terraform, ArgoCD, and NixOS.
twitter_username:
github_username: sbulav
search: true
name: "Sergei Bulavintsev"
url: "https://sbulav.github.io"
baseurl: "/"
repository: "sbulav/sbulav.github.io"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
# timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Sergei Bulavintsev"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Senior DevOps Engineer | AWS, Kubernetes, GitOps"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://sbulav.github.io"
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/sbulav"
    - label: "Linkedin"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/sergey-bulavintsev-3001ba45/"
    - label: "RSS"
      icon: "fas fa-fw fa-rss-square"
      url: "/feed.xml"

# footer:
#   links:
#     - label: "Twitter"
#       icon: "fab fa-fw fa-twitter-square"
#       url: "https://twitter.com/"
#     - label: "GitHub"
#       icon: "fab fa-fw fa-github"
#       url: "https://github.com/"
#     - label: "Instagram"
#       icon: "fab fa-fw fa-instagram"
#       url: "https://instagram.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

comments:
  provider               : "giscus"
  giscus:
    repo_id              : "MDEwOlJlcG9zaXRvcnkyNTU4MTM5MDE="
    category_name        : "General"
    category_id          : "DIC_kwDODz9pDc4CzD1l"
    discussion_term      : "pathname"
    reactions_enabled    : "1"
    theme                : "preferred_color_scheme"

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-P20LFSLH20"
    anonymize_ip: false # default

# SEO Related
google_site_verification : u3e2FAQkepx2zG0vhc4rR-MzwmmDI44fiUmwGJZWb-w
# bing_site_verification   :
# alexa_site_verification  :
yandex_site_verification : 6e30265145e14873
