---
// Giscus comments component - preserved from Jekyll config
---

<div id="giscus-container" class="mt-6">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="sbulav/sbulav.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyNTU4MTM5MDE="
    data-category-id=""
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark_dimmed"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</div>
